<h1>Kalkulator generujący ciekawostki o wyniku</h1>
<form action="result">
    <label for="equation">Wpisz równanie matematyczne</label>
    <input
        type="text"
        id="equation"
        name="equation"
        oninput="updateMath()"
        value="((2 +3)*(5-10)+12)/99"
    />
    <input type="submit" value="Oblicz" />
</form>
<h3 id="math"></h3>
<p>Legalne symbole matematyczne: $$+,~-,~\cdot,~\div$$</p>
